<h3>Hey, {{ userFirstName }}!</h3>
<h5>Recurrent work log report:</h5>
<p>Time logged: {{ timeLogged }}</p>
<p>Project: {{ projectName }}</p>
<br>
<br>
<p>If you want to modify this entry, please <a href="{{ userPageUrl }}">click here.</a></p>


