<mat-form-field appearance="outline" *ngIf="!viewMode; else inputView">
  <mat-label>{{ label }}</mat-label>
  <input matInput
         [(ngModel)]="value"
         [required]="required"
         [disabled]="disabled"
         [class.disabled]="disabled"
         [errorStateMatcher]="errorStateMatcher"
         (input)="onChange($any($event.target).value)"
         (blur)="onTouched()">
  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  <mat-error>
    <ul class="error-list">
      <li *ngFor="let err of errors">{{ err }}</li>
    </ul>
  </mat-error>
</mat-form-field>
<ng-template #inputView>
  <div class="d-flex flex-column align-items-start justify-content-start input-view"
       (click)="inputViewClicked()">
    <span class="input-view-label">{{ label }}</span>
    <span>{{ displayValue }}</span>
  </div>
</ng-template>
