<div class="row">
  <div class="col-2 d-flex flex-column justify-content-center align-items-center">
    <app-project-timeline-date type="startDate"
                               [date]="timeline.startDate"
                               (onClick)="openProjectTimelineForm()"></app-project-timeline-date>
  </div>
  <div class="col-6 d-flex flex-column justify-content-center align-items-center">
    <mat-progress-bar mode="determinate" [value]="completionPercentage"></mat-progress-bar>
  </div>
  <div class="col-2 d-flex flex-column justify-content-center align-items-center">
    <app-project-timeline-date type="endDate"
                               [date]="timeline.endDate"
                               (onClick)="openProjectTimelineForm()"></app-project-timeline-date>
  </div>
  <div class="col-2 d-flex flex-column justify-content-center align-items-center">
    <app-project-timeline-date type="deadline"
                               [date]="timeline.deadline"
                               (onClick)="openProjectTimelineForm()"></app-project-timeline-date>
  </div>
</div>
