<mat-form-field appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <input matInput
         [type]="hide ? 'password' : 'text'"
         [(ngModel)]="value"
         [disabled]="disabled"
         [required]="required"
         [class.disabled]="disabled"
         [errorStateMatcher]="errorStateMatcher"
         (input)="onChange($any($event.target).value)"
         (blur)="onTouched()">
  <button mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  <mat-error *ngIf="errors.length > 0">
    <ul class="error-list">
      <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
  </mat-error>
</mat-form-field>
