:host ::ng-deep {
  .mat-form-field {
    font-size: 15px;
    margin: 0;
    line-height: unset;
  }

  .mat-form-field-underline, .mat-form-field-underline:hover {
    display: none;
  }

  .mat-form-field-wrapper {
    padding: 0;
    margin: 0;
  }

  .mat-form-field-infix {
    top: 0;
    padding-bottom: 1rem;
    border-top: none;
  }

  .mat-form-field-appearance-standard .mat-form-field-prefix, .mat-form-field-appearance-standard .mat-form-field-suffix {
    top: 0.4em
  }
}
