<div class="d-flex flex-column align-items-center justify-content-center" style="margin-top: 20px">
  <h2>Save employee</h2>
  <ng-container *ngIf="(submitData$ | async) as newUserData">
    <app-user-card [user]="newUserData"></app-user-card>
  </ng-container>
</div>
<app-stepper-buttons [previousButtonDisabled]="previousStepDisabled"
                     [nextButtonDisabled]="nextStepDisabled"
                     [nextButtonLabel]="nextButtonLabel"
                     (onPreviousButtonClick)="previousStep()"
                     (onNextButtonClick)="nextStep()"></app-stepper-buttons>
