<div class="d-flex align-items-center justify-content-center" style="margin-top: 20px">
  <app-create-user-account-form [initialValues]="(submitData$ | async)!"
                                class="w-50"></app-create-user-account-form>
</div>
<app-stepper-buttons [previousButtonDisabled]="previousStepDisabled"
                     [nextButtonDisabled]="nextStepDisabled"
                     [nextButtonLabel]="nextButtonLabel"
                     (onPreviousButtonClick)="previousStep()"
                     (onNextButtonClick)="nextStep()"></app-stepper-buttons>
