<table mat-table [dataSource]="(dataSource$ | async)!" class="darker-header">

  <ng-container matColumnDef="profilePicture">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let user">
      <div class="d-flex align-items-center justify-content-start">
        <app-user-icon [user]="user"></app-user-icon>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let user"> {{ user | userFullName }} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email</th>
    <td mat-cell *matCellDef="let user"> {{ user | userEmail }} </td>
  </ng-container>

  <ng-container matColumnDef="companyPosition">
    <th mat-header-cell *matHeaderCellDef> Position</th>
    <td mat-cell *matCellDef="let user"> {{ user | userCompanyPosition }} </td>
  </ng-container>

  <ng-container matColumnDef="employeeId">
    <th mat-header-cell *matHeaderCellDef> Employee ID</th>
    <td mat-cell *matCellDef="let user"> {{ user | userEmployeeId }} </td>
  </ng-container>

  <ng-container matColumnDef="employmentPeriod">
    <th mat-header-cell *matHeaderCellDef> Employment period</th>
    <td mat-cell *matCellDef="let user"> {{ user | userEmploymentPeriod }} </td>
  </ng-container>

  <ng-container *ngIf="showStatus" matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status</th>
    <td mat-cell *matCellDef="let user">
      <app-user-status-label [status]="user['status']"></app-user-status-label>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row
      *matRowDef="let user; columns: columns;"
      (click)="goToUserPage(user)"></tr>

</table>

<mat-paginator *ngIf="(pagination$ | async) as pagination"
               [length]="pagination.totalRecords"
               [pageSizeOptions]="pageSizeOptions"
               showFirstLastButtons
               aria-label="Select page">
</mat-paginator>
